.wrapper{
  width: 80%;
  max-width: 1200px;
  height: 80%;
  background-color: var(--colorBG);
  border-radius: 8px;
  display: grid;
  gap: 8px;
  padding: 12px;
  grid-template-areas: 
  'header header'
  'nav profile';
  grid-template-columns: minmax(200px, 2fr) minmax(320px, 10fr);
  grid-template-rows: minmax(80px, 2fr) minmax(460px, 10fr);
  background-image: linear-gradient(rgb(0, 39, 122), rgb(0, 61, 63));
}
.wrapper>div{
  border: 1px solid #00ffff38;
  border-radius: 6px;
  padding: 8px;
}
.header{
  grid-area: header;
} 
.nav{
  grid-area: nav;
}
.profile{
  grid-area: profile;
}
.main{
  overflow-y: hidden;
}
