.wrapper{
  width: 80%;
  max-width: 1200px;
  height: 80%;
  background-color: rgba(0, 255, 255, 0.219);
  border-radius: 8px;
  display: grid;
  gap: 8px;
  padding: 12px;
  grid-template-areas: 
  'header header'
  'nav profile';
  grid-template-columns: minmax(200px, 2fr) minmax(320px, 10fr);
  grid-template-rows: minmax(80px, 2fr) minmax(560px, 10fr);
}
.wrapper>div{
  border: 1px solid #00ffff38;
  border-radius: 6px;
  padding: 8px;
}
.header{
  grid-area: header;
} 
.nav{
  grid-area: nav;
}
.profile{
  grid-area: profile;
}
